body {
    display: flex;
    height: 90vh; 
    width: 90vw; 
}

.options {
    width: 60vw;
    justify-content: center;
}

button {
    border: solid;
    border-width: 1px;
    border-color: gold;
    border-radius: 8px;
}

img {
    width: 150px;
    height: 150px;
}

.results-container {
    width: 40vw;
}

.results {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

h1 {
    text-align: center;
}